p {
    color:blue;
}

table {
    width: 100%;
}

body {
    background-color :white;
}
table {
    border : 1px solid green;
    color :forestgreen;
}
tr {
    background-color :white;
    color :forestgreen;
}
td {
    border :1px solid green;
    color :forestgreen;
}
th {
    background-color :yellowgreen;
    color :white;
}
h1 {
    margin : 0 0 10px;
    font-size : 20px;
    font-weight : bold;
    color :green;
}